extends admin_layout
block page-wrapper
  .row(ng-controller="adminUserCtrl")
    .col-lg-12
      h1.page-header Mesonet Users
      a(ng-click="openModal(newUser)") Add New User 
    .row
      .col-lg-12
        .panel.panel-default 
          .panel-body
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Username
                    th Email
                    th(style="text-align:center") # of Stations Added
                    th(style="text-align:center") # of logins
                    th(style="text-align:center") last login
                    th(style="text-align:center") Edit
                tbody
                  tr.odd.gradeX(ng-repeat='user in users')
                    td {{user.username}}
                    td {{user.email}}
                    td(style="text-align:center")
                      {{user.stations.length}}
                    td(style="text-align:center")
                      {{user.loginCount}}
                    td(style="text-align:center")
                      {{user.lastLogin}}
                    td(style="text-align:center")
                      i.fa.fa-edit(ng-click="openModal(user)")


